*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

   
}
.container{
    width: 100%;
background-image: url("./img.jpg");
background-size: cover;
background-position: center;
    height: 100vh;
    display: inline-block;
    align-items: center;
    background-color: #8cd6d3;
    padding-left: 7px;
}
.menu{

    
    border: 3px  #232cb5;
    border-radius: 3px;
    height: 250px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding:5px 7px 10px 20px;
    position: absolute;
    right: 7px;
    top: 3px;





}

.conteudo{
    width: 100%;
    
    display: inline-block;
    align-items: center;
    padding: 100px 20px 0px 20px;
    
    
}


    






